.m-home {
  padding: 10px 10px;
  .el-col {
    margin-top: 4.16667%;
    margin-bottom: 4.16667%;
  }
  .el-card__body {
    padding: 0;
  }
  .m-pic, .m-pic[lazy=loading] {
    width: auto;
    min-width: 100%;
    //height: auto;
    height: 100px;
  }
  .u-tlt {
    padding: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
