.m-info {
  width: 100%;
  background: #f4f4f6;
  padding-bottom: 3rem;
  .u-tlt {
    background: #f4f4f6;
    min-height: 38px;
    .mint-cell-text {
      font-size: 12px;
      color: #888;
    }
  }
  .el-cascader {
    width: 100%;
    font-size: 1rem;
  }
  .u-submit {
    margin: 3rem auto 0;
    width: 92%;
    background: #28af2e;
    color: #FFF;
  }
}

