.mint-tabbar {
  height: 4.5rem;
  text-align: center;
  box-shadow: #e0e0e0 0 -0.0.02rem 0.1rem;

  .mint-tab-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .icon {
      display: block;
      margin-bottom: 0.1rem;
      font-size: 2rem;
      color: #414448;
    }
    .tlt {
      display: block;
      width: 100%;
      color: #38393d;
    }
  }
}
