.m-new-report{
  width: 100%;
  height: 100vh;
  padding: 5rem 1rem 1rem;
  .u-btn {
    width: 92%;
  }
  .u-btn-submit{
    margin: 4rem auto 2rem;
    background: #28af2e;
    color: #FFF;
  }
  .u-btn-close{
    margin: 0 auto;
    background: #898989;
    color: #FFF;
  }
}
