.m-page-field {
  padding: 1rem 0;
  height: 100%;
  .u-submit {
    margin: 20% auto 0;
    width: 92%;
    background: #28af2e;
    color: #FFF;
  }
  .mint-field {
    .mint-button {
      height: 32px;
      font-size: 1rem;
    }
  }
}
